<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>

    Stock Picker


     <!-- form action is to render this info page with "/info"-->
        <!--important to specificy the type of HTML - input (search)-->
            <!--the placeholder is put in the box, the name is the SYMBOL-->
            <!--lastly, the button is put in to init the search function implicit in the HTML script. Lets Write this again.-->
        
        <form action="/stockResult">
        <label>
            <input type="search" input="symbol" placeholder="eg. GOOG">
        </label>
            <button>Submit Query</button>

 <ul><a href="/"> To Home </a></ul>
    
</body>
</html>